.container {
  margin: auto;
  max-width: 1200px;
  min-width: 600px;
}
.img-logo {
  width: 100px;
}
nav ul {
  padding-left: 0;
  flex-direction: row;
}
nav ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-weight: bold;
  border-left: 1px solid #000;
}
nav li:first-child {
  border-left: none;
}
nav li a:hover {
  color: #f82d09;
  text-decoration: underline;
}
body {
  font-family: helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6;
}
h1 {
  display: block;
  font-size: 54px;
  margin: 0 0 0.5em 0;
  padding: 0;
  color: #000;
  font-weight: 500;
  line-height: 1.2;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
header {
  background-image: url(../website-images-assets/Cantor\ atrium\ 3.jpg);
  height: 300px;
  padding-left: none;
}
.fs-display {
  padding-top: 20;
}
h2 {
  font-size: 36px;
  font-weight: 500;
  color-adjust: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: -20px;
}
p {
}
